nmea-router/src/main/xsd/nmea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="nmea" type="nmeaType"/>
    <xsd:complexType name="nmeaType">
        <xsd:sequence>
            <xsd:element name="boat" type="boatDataType"/>
            <xsd:element name="endPoints" type="endPointGroupType"/>
        </xsd:sequence>
        <xsd:attribute name="proprietaryPrefix" type="proprietaryPrefixType"></xsd:attribute>
        <xsd:attribute name="ctrlTcpPort" type="portType"/>
        <xsd:attribute name="allDevices" type="deviceListType"/>
        <xsd:attribute name="dontScan" type="deviceListType"/>
        <xsd:attribute name="closeDelay" type="delayType"/>
        <xsd:attribute name="monitorDelay" type="delayType"/>
        <xsd:attribute name="nativeDebug" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="endPointGroupType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="n2k-gateway" type="n2kGatewayType"/>
            <xsd:element name="consumer-endpoint" type="consumerEndpointType"/>
            <xsd:element name="log-endpoint" type="logEndpointType"/>
            <xsd:element name="tcp-endpoint" type="tcpEndpointType"/>
            <xsd:element name="processor" type="processorType"/>
            <xsd:element name="multicast" type="multicastType"/>
            <xsd:element name="multicast-nmea-0183" type="multicastNMEAType"/>
            <xsd:element name="broadcast" type="broadcastType"/>
            <xsd:element name="broadcast-nmea-0183" type="broadcastNMEAType"/>
            <xsd:element name="datagram" type="datagramType"/>
            <xsd:element name="seatalk" type="seatalkType"/>
            <xsd:element name="nmea-0183-any" type="nmea-0183-anyType"/>
            <xsd:element name="nmea-0183-hs" type="nmea-0183-hsType"/>
            <xsd:element name="nmea-0183" type="nmea-0183Type"/>
            <xsd:element name="serial" type="serialType"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="boatDataType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="gps-position" type="gpsPositionType"/>
            <xsd:element name="depthSounder-position" type="depthSounderPositionType"/>
        </xsd:choice>
        <xsd:attribute name="length" type="xsd:decimal" use="required"/>
        <xsd:attribute name="beam" type="xsd:decimal" use="required"/>
        <xsd:attribute name="draft" type="xsd:decimal" use="required"/>
        <xsd:attribute name="anchorWeight" type="xsd:decimal" use="required"/>
        <xsd:attribute name="chainDiameter" type="xsd:decimal" use="required"/>
        <xsd:attribute name="maxChainLength" type="xsd:decimal" use="required"/>
        <xsd:attribute name="crossSectionCoefficient" type="xsd:decimal"/>
    </xsd:complexType>
    <xsd:complexType name="n2kGatewayType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="source" type="sourceType"/>
                </xsd:choice>
                <xsd:attribute name="bus" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="consumerEndpointType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="classname" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="logEndpointType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="logName" type="xsd:string" use="required"/>
                <xsd:attribute name="logLevel" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tcpEndpointType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="port" type="portType" use="required"/>
                <xsd:attribute name="aisFastBoot" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="processorType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="variation-source" type="variation-sourceType"/>
                    <xsd:element name="true-wind-source" type="true-wind-sourceType"/>
                    <xsd:element name="tracker" type="trackerType"/>
                    <xsd:element name="compressed-log" type="compressedLogType"/>
                    <xsd:element name="ais-log" type="aisLogType"/>
                    <xsd:element name="sntp-server" type="sntp-serverType"/>
                    <xsd:element name="compass-corrector" type="compassCorrectorType"/>
                    <xsd:element name="anchor-manager" type="anchorManagerType"/>
                    <xsd:element name="sunset-manager" type="sunsetManagerType"/>
                </xsd:choice>
                <xsd:attribute name="dataAccessPort" type="portType"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="multicastNMEAType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="address" type="addressType" use="required"/>
                <xsd:attribute name="loop" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="multicastType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="address" type="addressType" use="required"/>
                <xsd:attribute name="port" type="portType" use="required"/>
                <xsd:attribute name="loop" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="broadcastNMEAType">
        <xsd:complexContent>
            <xsd:extension base="endpointType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="broadcastType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="port" type="portType" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="datagramType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="address" type="addressType" use="required"/>
                <xsd:attribute name="port" type="portType" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="seatalkType">
        <xsd:complexContent>
            <xsd:extension base="serialType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nmea-0183-anyType">
        <xsd:complexContent>
            <xsd:extension base="serialType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nmea-0183-hsType">
        <xsd:complexContent>
            <xsd:extension base="serialType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nmea-0183Type">
        <xsd:complexContent>
            <xsd:extension base="serialType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="serialType">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="device" type="deviceType" use="required"/>
                <xsd:attribute name="speed" type="speedType"/>
                <xsd:attribute name="bits" type="bitsType"/>
                <xsd:attribute name="parity" type="parityType"/>
                <xsd:attribute name="stops" type="stopsType"/>
                <xsd:attribute name="flowControl" type="flowControlType"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="endpointType">
        <xsd:sequence>
            <xsd:element name="script" type="scriptType" maxOccurs="1"/>
            <xsd:element name="route" type="routeType" maxOccurs="unbounded"/>
            <xsd:element name="filter" type="filterType" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="nameType" use="required"/>
        <xsd:attribute name="enable" type="xsd:boolean" use="required"/>
        <xsd:attribute name="priority" type="priorityType"/>
    </xsd:complexType>
    <xsd:complexType name="filterType">
        <xsd:attribute name="classname" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="scriptType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="routeType">
        <xsd:attribute name="prefix" type="prefixType" use="required"/>
        <xsd:attribute name="target" type="targetType"/>
        <xsd:attribute name="backup" type="backupType"/>
        <xsd:attribute name="expire" type="millisType"/>
        <xsd:attribute name="comment" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="trackerType">
        <xsd:attribute name="directory" type="xsd:string" use="required"/>
        <xsd:attribute name="bearingTolerance" type="xsd:unsignedInt"/>
        <xsd:attribute name="minDistance" type="xsd:decimal"/>
        <xsd:attribute name="maxSpeedAcceleration" type="xsd:decimal"/>
        <xsd:attribute name="maxPassive" type="xsd:unsignedInt"/>
        <xsd:attribute name="buffered" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="compressedLogType">
        <xsd:attribute name="directory" type="xsd:string" use="required"/>
        <xsd:attribute name="properties" type="propertyListType"/>
        <xsd:attribute name="bufferSize" type="xsd:unsignedInt"/>
        <xsd:attribute name="updateSeconds" type="xsd:unsignedInt"/>
    </xsd:complexType>
    <xsd:complexType name="aisLogType">
        <xsd:attribute name="directory" type="xsd:string" use="required"/>
        <xsd:attribute name="maxLogSize" type="xsd:unsignedLong"/>
        <xsd:attribute name="ttlMinutes" type="xsd:unsignedInt"/>
    </xsd:complexType>
    <xsd:complexType name="sntp-serverType">
        <xsd:attribute name="rootDelay" type="millisType"/>
        <xsd:attribute name="server" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="sentenceType">
        <xsd:attribute name="prefix" type="prefixType"/>
        <xsd:attribute name="pgn" type="xsd:unsignedInt"/>
    </xsd:complexType>
    <xsd:complexType name="sourceType">
        <xsd:attribute name="talkerId" type="xsd:string" use="required"/>
        <xsd:attribute name="name" type="xsd:long"/>
        <xsd:attribute name="modelId" type="xsd:string"/>
        <xsd:attribute name="modelVersion" type="xsd:string"/>
        <xsd:attribute name="modelSerial" type="xsd:string"/>
        <xsd:attribute name="instanceOffset" type="xsd:unsignedShort"/>
        <xsd:attribute name="comment" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="gpsPositionType">
        <xsd:complexContent>
            <xsd:extension base="boatPositionType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="depthSounderPositionType">
        <xsd:complexContent>
            <xsd:extension base="boatPositionType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="boatPositionType">
        <xsd:attribute name="toSb" type="xsd:decimal" use="required"/>
        <xsd:attribute name="toPort" type="xsd:decimal" use="required"/>
        <xsd:attribute name="toBow" type="xsd:decimal" use="required"/>
        <xsd:attribute name="toStern" type="xsd:decimal" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="sunsetManagerType">
        <xsd:attribute name="modbusHost" type="xsd:string" use="required"/>
        <xsd:attribute name="unitId" type="xsd:unsignedShort" use="required"/>
        <xsd:attribute name="relayAddress" type="xsd:unsignedShort" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="anchorManagerType">
        <xsd:attribute name="directory" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="compassCorrectorType">
        <xsd:attribute name="configFile" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="variation-sourceType">
        <xsd:attribute name="period" type="millisType"/>
    </xsd:complexType>
    <xsd:complexType name="true-wind-sourceType">
        <xsd:attribute name="overGround" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:simpleType name="priorityType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="delayType">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="10"/>
            <xsd:maxInclusive value="100000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bufferSizeType">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="128"/>
            <xsd:maxInclusive value="8192"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="pollIntervalType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="4"/>
            <xsd:maxInclusive value="17"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="addressType">
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="portType">
        <xsd:restriction base="xsd:unsignedShort"/>
    </xsd:simpleType>
    <xsd:simpleType name="prefixType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Za-z0-9$!?])+"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="proprietaryPrefixType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]([A-Z0-9])*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="millisType">
        <xsd:restriction base="xsd:unsignedInt"/>
    </xsd:simpleType>
    <xsd:simpleType name="backupType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="deviceListType">
        <xsd:list itemType="deviceType"/>
    </xsd:simpleType>
    <xsd:simpleType name="deviceType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9/:]+"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="targetType">
        <xsd:list itemType="nameType"/>
    </xsd:simpleType>
    <xsd:simpleType name="nameType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z]([A-Za-z0-9])*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="propertyListType">
        <xsd:list itemType="propertyType"/>
    </xsd:simpleType>
    <xsd:simpleType name="propertyType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]([A-Za-z0-9])*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="speedType">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:enumeration value="50"/>
            <xsd:enumeration value="75"/>
            <xsd:enumeration value="110"/>
            <xsd:enumeration value="134"/>
            <xsd:enumeration value="150"/>
            <xsd:enumeration value="200"/>
            <xsd:enumeration value="300"/>
            <xsd:enumeration value="600"/>
            <xsd:enumeration value="1200"/>
            <xsd:enumeration value="1800"/>
            <xsd:enumeration value="2400"/>
            <xsd:enumeration value="4800"/>
            <xsd:enumeration value="9600"/>
            <xsd:enumeration value="14400"/>
            <xsd:enumeration value="19200"/>
            <xsd:enumeration value="38400"/>
            <xsd:enumeration value="57600"/>
            <xsd:enumeration value="115200"/>
            <xsd:enumeration value="128000"/>
            <xsd:enumeration value="230400"/>
            <xsd:enumeration value="256000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="parityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="ODD"/>
            <xsd:enumeration value="EVEN"/>
            <xsd:enumeration value="MARK"/>
            <xsd:enumeration value="SPACE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bitsType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="4"/>
            <xsd:maxInclusive value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stopsType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="flowControlType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="XONXOFF"/>
            <xsd:enumeration value="RTSCTS"/>
            <xsd:enumeration value="DSRDTR"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>