router/src/main/xsd/nmea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="nmea" type="nmeaType"/>
    <xs:complexType name="nmeaType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="router" type="routerType" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
        <xs:attribute name="proprietaryPrefix" type="proprietaryPrefixType"></xs:attribute>
        <xs:attribute name="ctrlTcpPort" type="portType"/>
    </xs:complexType>
    <xs:complexType name="routerType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="processor" type="processorType"/>
            <xs:element name="multicast" type="multicastType"/>
            <xs:element name="multicast-nmea-0183" type="multicastNMEAType"/>
            <xs:element name="broadcast" type="broadcastType"/>
            <xs:element name="broadcast-nmea-0183" type="broadcastNMEAType"/>
            <xs:element name="datagram" type="datagramType"/>
            <xs:element name="seatalk" type="seatalkType"/>
            <xs:element name="nmea-0183-hs" type="nmea-0183-hsType"/>
            <xs:element name="nmea-0183" type="nmea-0183Type"/>
            <xs:element name="serial" type="serialType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="processorType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="variation-source" type="variation-sourceType"/>
                    <xs:element name="true-wind-source" type="true-wind-sourceType"/>
                    <xs:element name="tracker" type="trackerType"/>
                    <xs:element name="sntp-broadcaster" type="sntp-broadcasterType"/>
                    <xs:element name="sntp-multicaster" type="sntp-multicasterType"/>
                    <xs:element name="sntp-server" type="sntp-serverType"/>
                    <xs:element name="time-setter" type="timeSetterType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="multicastNMEAType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:attribute name="address" type="addressType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="multicastType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:attribute name="address" type="addressType" use="required"/>
                <xs:attribute name="port" type="portType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="broadcastNMEAType">
        <xs:complexContent>
            <xs:extension base="endpointType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="broadcastType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:attribute name="port" type="portType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="datagramType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:attribute name="address" type="addressType" use="required"/>
                <xs:attribute name="port" type="portType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="seatalkType">
        <xs:complexContent>
            <xs:extension base="serialType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="nmea-0183-hsType">
        <xs:complexContent>
            <xs:extension base="serialType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="nmea-0183Type">
        <xs:complexContent>
            <xs:extension base="serialType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="serialType">
        <xs:complexContent>
            <xs:extension base="endpointType">
                <xs:attribute name="speed" type="speedType"/>
                <xs:attribute name="bits" type="bitsType"/>
                <xs:attribute name="parity" type="parityType"/>
                <xs:attribute name="stops" type="stopsType"/>
                <xs:attribute name="flowControl" type="flowControlType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="endpointType">
        <xs:sequence>
            <xs:element name="script" type="scriptType" maxOccurs="1"/>
            <xs:element name="route" type="routeType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="nameType" use="required"/>
    </xs:complexType>
    <xs:complexType name="scriptType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="routeType">
        <xs:attribute name="prefix" type="prefixType" use="required"/>
        <xs:attribute name="target" type="targetType"/>
        <xs:attribute name="backup" type="backupType"/>
        <xs:attribute name="expire" type="millisType"/>
    </xs:complexType>
    <xs:complexType name="trackerType">
        <xs:attribute name="directory" type="xs:string" use="required"/>
        <xs:attribute name="bearingTolerance" type="xs:unsignedInt"/>
        <xs:attribute name="minDistance" type="xs:decimal"/>
        <xs:attribute name="maxSpeed" type="xs:decimal"/>
        <xs:attribute name="maxPassive" type="xs:unsignedInt"/>
        <xs:attribute name="buffered" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="timeSetterType">
        <xs:attribute name="cmd" type="xs:string" use="required"/>
        <xs:attribute name="pollInterval" type="pollIntervalType"/>
        <xs:attribute name="maxDelta" type="millisType"/>
    </xs:complexType>
    <xs:complexType name="sntp-broadcasterType">
        <xs:attribute name="pollInterval" type="pollIntervalType"/>
    </xs:complexType>
    <xs:complexType name="sntp-multicasterType">
        <xs:attribute name="pollInterval" type="pollIntervalType"/>
    </xs:complexType>
    <xs:complexType name="sntp-serverType">
    </xs:complexType>
    <xs:complexType name="variation-sourceType">
        <xs:attribute name="period" type="millisType"/>
    </xs:complexType>
    <xs:complexType name="true-wind-sourceType">
    </xs:complexType>
    <xs:simpleType name="pollIntervalType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="4"/>
            <xs:maxInclusive value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="addressType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="portType">
        <xs:restriction base="xs:unsignedShort"/>
    </xs:simpleType>
    <xs:simpleType name="prefixType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9$!?])+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="proprietaryPrefixType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]([A-Z0-9])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="millisType">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>
    <xs:simpleType name="backupType">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="targetType">
        <xs:list itemType="nameType"/>
    </xs:simpleType>
    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]([A-Za-z0-9])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="speedType">
        <xs:restriction base="xs:unsignedInt">
            <xs:enumeration value="50"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="134"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="200"/>
            <xs:enumeration value="300"/>
            <xs:enumeration value="600"/>
            <xs:enumeration value="1200"/>
            <xs:enumeration value="1800"/>
            <xs:enumeration value="2400"/>
            <xs:enumeration value="4800"/>
            <xs:enumeration value="9600"/>
            <xs:enumeration value="14400"/>
            <xs:enumeration value="19200"/>
            <xs:enumeration value="38400"/>
            <xs:enumeration value="57600"/>
            <xs:enumeration value="115200"/>
            <xs:enumeration value="128000"/>
            <xs:enumeration value="230400"/>
            <xs:enumeration value="256000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="parityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="ODD"/>
            <xs:enumeration value="EVEN"/>
            <xs:enumeration value="MARK"/>
            <xs:enumeration value="SPACE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="bitsType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="4"/>
            <xs:maxInclusive value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stopsType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="flowControlType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="XONXOFF"/>
            <xs:enumeration value="RTSCTS"/>
            <xs:enumeration value="DSRDTR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>